In [105]:
# IMPORTAMOS TODAS LAS LIBRERÍAS QUE NECESITAMOS

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn import metrics

pd.set_option('display.max_columns', 1000)
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth',1000)

In [106]:
# CARGAMOS NUESTRO DATASET
df_1=pd.read_csv('../data/houses_Madrid.csv', index_col=0)

df_1.head()

,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,latitude,longitude,raw_address,is_exact_address_hidden,street_name,street_number,portal,floor,is_floor_under,door,neighborhood_id,operation,rent_price,rent_price_by_area,is_rent_price_known,buy_price,buy_price_by_area,is_buy_price_known,house_type_id,is_renewal_needed,is_new_development,built_year,has_central_heating,has_individual_heating,are_pets_allowed,has_ac,has_fitted_wardrobes,has_lift,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,is_furnished,is_kitchen_equipped,is_accessible,has_green_zones,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,NaN,NaN,"Calle de Godella, 64",False,Calle de Godella,64,NaN,3,False,NaN,Neighborhood 135: San Cristóbal (1308.89 €/m2) - District 21: Villaverde,sale,471,NaN,False,85000,1328,True,HouseType 1: Pisos,False,False,1960.0,NaN,NaN,NaN,True,NaN,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,NaN,NaN,Calle de la del Manojo de Rosas,True,Calle de la del Manojo de Rosas,NaN,NaN,4,False,NaN,Neighborhood 132: Los Ángeles (1796.68 €/m2) - District 21: Villaverde,sale,666,NaN,False,129900,1856,True,HouseType 1: Pisos,True,False,NaN,NaN,NaN,NaN,NaN,True,True,True,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,NaN,NaN,"Calle del Talco, 68",False,Calle del Talco,68,NaN,1,False,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - District 21: Villaverde,sale,722,NaN,False,144247,1535,True,HouseType 1: Pisos,False,False,NaN,False,True,NaN,NaN,True,True,True,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,NaN,NaN,Calle Pedro Jiménez,True,Calle Pedro Jiménez,NaN,NaN,Bajo,True,NaN,Neighborhood 134: San Andrés (1617.18 €/m2) - District 21: Villaverde,sale,583,NaN,False,109900,1717,True,HouseType 1: Pisos,False,False,1955.0,NaN,NaN,NaN,NaN,NaN,True,True,NaN,NaN,NaN,NaN,True,NaN,NaN,True,NaN,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
4,21738,Piso en venta en carretera de Villaverde a Vallecas,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,NaN,NaN,Carretera de Villaverde a Vallecas,True,Carretera de Villaverde a Vallecas,NaN,NaN,4,False,NaN,Neighborhood 133: Los Rosales (1827.79 €/m2) - District 21: Villaverde,sale,1094,NaN,False,260000,2407,True,HouseType 1: Pisos,False,False,2003.0,NaN,NaN,NaN,True,True,True,True,NaN,True,NaN,NaN,True,NaN,NaN,NaN,True,en trámite,True,NaN,NaN,True,0.0,True,True,True,True

In [107]:
# ESTUDIAMOS SU FORMA
df_1.shape

(21742, 57)

In [108]:
# ELIMINAMOS DUPLICADOS COMPLETOS Y DUPLICADOS PARCIALES QUE AFECTARÍAN A NUESTRO MODELO DE CARA A DATOS NUEVOS

df_1.drop_duplicates()
# df_1.drop_duplicates(['subtitle','sq_mt_built','n_rooms','n_bathrooms','buy_price'], keep='first', inplace=True)

df_1.shape

(21742, 57)

In [109]:
# df_1.groupby(['subtitle','buy_price','n_rooms','sq_mt_built','n_bathrooms']).count().sort_values(by='buy_price', ascending=False).head(500)
# ,'street_number','sq_mt_built','buy_price','n_bathrooms','n_rooms'

In [110]:
## COMPROBAMOS ELEMENTOS QUE TENÍAMOS REPETIDOS

# 8700000	7	881.0	4.0	

# mask1 = df_1['buy_price']==7900000
# mask2 = df_1['n_rooms']==7
# # mask3 = df_1['sq_mt_built']==881
# # mask4 = df_1['n_bathrooms']==4

# df_1[mask1&mask2
# # &mask3&mask4
# ]

In [111]:
# ESTUDIAMOS LOS MISSING VALUES

dict_nans = {}
dict_True_False = {}

for i in df_1.columns:
    dict_nans[i]=len(df_1[df_1[i].isna()==True])
    # print(i, len(df[df[i].isna()==True]))

df_nans = pd.DataFrame([[key, dict_nans[key]] for key in dict_nans.keys()], columns=['Name', 'Amount'])
df_nans.set_index(['Name']).sort_values(by='Amount', ascending=False)

                              Amount
Name
rent_price_by_area             21742
latitude                       21742
are_pets_allowed               21742
has_private_parking            21742
is_kitchen_equipped            21742
has_public_parking             21742
door                           21742
portal                         21742
longitude                      21742
is_furnished                   21742
sq_mt_allotment                20310
n_floors                       20305
has_garden                     20186
has_balcony                    18421
has_green_zones                17685
is_accessible                  17668
has_pool                       16571
street_number                  15442
has_storage_room               14044
parking_price                  14023
is_parking_included_in_price   14023
sq_mt_useful                   13514
has_terrace                    12194
built_year                     11742
has_ac                         10531
is_orientation_south           10384
is_orientation_east            10384
is_orientation_west            10384
is_orientation_north           10384
has_fitted_wardrobes            8343
has_central_heating             8134
has_individual_heating          8134
street_name                     5905
raw_address                     5465
is_exterior                     3043
floor                           2607
has_lift                        2386
is_floor_under                  1170
is_new_development               992
house_type_id                    391
sq_mt_built                      126
n_bathrooms                       16
energy_certificate                 0
has_parking                        0
id                                 0
title                              0
is_buy_price_known                 0
buy_price_by_area                  0
buy_price                          0
is_rent_price_known                0
rent_price                         0
operation                          0
neighborhood_id                    0
is_exact_address_hidden            0
n_rooms                            0
subtitle                           0
is_renewal_needed                  0

In [112]:
# ELIMINAMOS LAS COLUMNAS QUE TIENEN # NaNs Y AQUELLAS QUE NO NOS SERVIRÁN PARA EL MODELO. LO HACEMOS DE ESTA MANERA YA QUE USANDO .dropna SE CUELGA EL PROGRAMA

df=df_1.drop(columns=['id',
                    'street_number',
                    'rent_price',
                    'street_name',
                    'raw_address',
                    'is_exact_address_hidden',
                    'is_rent_price_known',
                    'is_buy_price_known',
                    'title',
                    'has_public_parking',
                    'portal',
                    'are_pets_allowed',
                    'is_furnished',
                    'is_kitchen_equipped',
                    'rent_price_by_area',
                    'latitude',
                    'longitude',
                    'has_private_parking',
                    'door',
                    'rent_price_by_area',
                    'latitude',
                    'are_pets_allowed',
                    'has_private_parking',
                    'is_kitchen_equipped',
                    'has_public_parking',
                    'door',
                    'portal',
                    'longitude',
                    'is_furnished',
                    'sq_mt_allotment',
                    'n_floors',
                    'is_parking_included_in_price',
                    'sq_mt_useful',
                    'energy_certificate',
                    'operation',
                    ])

In [113]:
# ELIMINAMOS LAS FILAS QUE CONTIENEN NANS EN LA COLUMNA DE sq_mt_built, YA QUE AL SER UNA VARIABLE TAN IMPORTANTE, NO AYUDARÍAMOS COMPLETANDOLA CON DATOS
# COMO LA MEDIA LA MEDIANA O SIMILAR.

df = df.dropna(subset=['sq_mt_built'])

In [114]:
df.shape

(21616, 32)

In [115]:
df.describe(include='all')

,subtitle,sq_mt_built,n_rooms,n_bathrooms,floor,is_floor_under,neighborhood_id,buy_price,buy_price_by_area,house_type_id,is_renewal_needed,is_new_development,built_year,has_central_heating,has_individual_heating,has_ac,has_fitted_wardrobes,has_lift,is_exterior,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,is_accessible,has_green_zones,has_parking,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
count,21616,21616.000000,21616.000000,21600.000000,19134,20489,21616,2.161600e+04,21616.000000,21225,21616,20629,9946.000000,13564,13564,11126,13327,19355,18698,1446,5063,9459,3301,7617,4065,4057,21616,7617.000000,11285,11285,11285,11285
unique,146,NaN,NaN,NaN,19,2,126,NaN,NaN,4,2,2,NaN,2,2,1,1,2,2,1,1,1,1,1,1,1,2,NaN,2,2,2,2
top,"Chamartín, Madrid",NaN,NaN,NaN,1,False,Neighborhood 23: Malasaña-Universidad (5196.25 €/m2) - District 4: Centro,NaN,NaN,HouseType 1: Pisos,False,False,NaN,False,True,True,True,True,True,True,True,True,True,True,True,True,False,NaN,False,False,True,False
freq,850,NaN,NaN,NaN,4439,17950,485,NaN,NaN,17705,17637,19160,NaN,9475,9475,11126,13327,14894,16921,1446,5063,9459,3301,7617,4065,4057,13999,NaN,8529,7255,5754,6272
mean,NaN,146.920892,2.979367,2.058565,NaN,NaN,NaN,6.362840e+05,4027.133281,NaN,NaN,NaN,1969.953046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2693.594066,NaN,NaN,NaN,NaN
std,NaN,134.181865,1.466360,1.332060,NaN,NaN,NaN,7.433188e+05,1910.074268,NaN,NaN,NaN,69.551878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13446.574423,NaN,NaN,NaN,NaN
min,NaN,13.000000,0.000000,1.000000,NaN,NaN,NaN,3.600000e+04,447.000000,NaN,NaN,NaN,1723.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
25%,NaN,70.000000,2.000000,1.000000,NaN,NaN,NaN,1.980000e+05,2555.500000,NaN,NaN,NaN,1957.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
50%,NaN,100.000000,3.000000,2.000000,NaN,NaN,NaN,3.700000e+05,3732.500000,NaN,NaN,NaN,1970.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
75%,NaN,162.000000,4.000000,2.000000,NaN,NaN,NaN,7.500000e+05,5000.000000,NaN,NaN,NaN,1994.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN
max,NaN,999.000000,24.000000,14.000000,NaN,NaN,NaN,8.800000e+06,18889.000000,NaN,NaN,NaN,8170.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600000.000000,NaN,NaN,NaN,NaN

In [116]:
# SEGUIMOS TRABAJANDO CON LOS NANS

dict_nans = {}

for i in df.columns:
    dict_nans[i]=len(df[df[i].isna()])
    # print(i, len(df[df[i].isna()]))

df_nans = pd.DataFrame([[key, dict_nans[key]] for key in dict_nans.keys()], columns=['Name', 'Amount'])
df_nans.set_index(['Name']).sort_values(by='Amount', ascending=False)

                        Amount
Name
has_garden               20170
has_balcony              18315
has_green_zones          17559
is_accessible            17551
has_pool                 16553
parking_price            13999
has_storage_room         13999
has_terrace              12157
built_year               11670
has_ac                   10490
is_orientation_east      10331
is_orientation_south     10331
is_orientation_west      10331
is_orientation_north     10331
has_fitted_wardrobes      8289
has_individual_heating    8052
has_central_heating       8052
is_exterior               2918
floor                     2482
has_lift                  2261
is_floor_under            1127
is_new_development         987
house_type_id              391
n_bathrooms                 16
has_parking                  0
n_rooms                      0
buy_price_by_area            0
neighborhood_id              0
buy_price                    0
sq_mt_built                  0
is_renewal_needed            0
subtitle                     0

In [117]:
# ESTUDIAMOS CADA VARIABLE DE MANERA INDEPENDIENTE PARA TRATAR LOS NaN DE LA MANERA QUE CORRESPONDA. 

## EN MUCHOS CASOS, TENEMOS TRUE Y NANS, POR LO QUE DEDUCIMOS QUE LOS NAN CORRESPONDEN A FALSE. 
## EN LOS CASOS EN LOS QUE NO SE CUMPLE ESO, LO SUSTITUIMOS CON UN CRITERIO DISTINTO DEPENDIENDO DE CADA CASO

# df.dtypes
# for i in df:
#     print(i)
#     print(df[i].value_counts())
#     print('')

In [118]:
# COMENZAMOS A SUSTITUIR LOS VALORES NAN, CON DISTINTOS CRITERIOS

lista = ['has_garden','has_balcony','has_green_zones','has_pool','has_storage_room','has_terrace','has_ac','has_ac','has_fitted_wardrobes',
'has_central_heating','has_individual_heating','has_lift','has_parking',
'is_accessible','is_floor_under','is_new_development',
'is_orientation_west','is_orientation_east','is_orientation_north','is_orientation_south']

# SUSTITUIMOS LOS NAN POR FALSE EN ESTAS COLUMNAS, YA QUE HEMOS VISTO QUE SOLO TIENEN VALORES TRUE O NAN, POR LO QUE ENTENDEMOS QUE LOS NAN SON FALSE
for i in lista:
    df[i].fillna(False, inplace=True)

# A CONTINUACIÓN LO TRANSFORMAMOS A 0 Y 1
for i in lista:
    df[i]= df[i].map(lambda x: 0 if x == False  else 1)

In [119]:
# SUSTITUIMOS EL RESTO DE NANS CADA UNO CON SU CRITERIO

df['is_exterior'].fillna(True, inplace=True)

df['parking_price'].fillna(0, inplace=True)

df['built_year'].fillna(df['built_year'].median(), inplace=True)

df['floor'].fillna(1, inplace=True)

df['house_type_id'].fillna('HouseType 1: Pisos', inplace=True)

df['sq_mt_built'].fillna(df['sq_mt_built'].mean(), inplace=True)

df['n_bathrooms'].fillna(df['n_bathrooms'].mean(), inplace=True)

# df['buy_price_with_park'] = df['buy_price'] + df['parking_price']

In [120]:
# COMENZAMOS A TRATAR LAS VARIABLES CATEGÓRICAS, PARA CONVERTIRLAS EN VARIABLES NUMÉRICAS

print(df['house_type_id'].value_counts())

dict_housetype = {'HouseType 1: Pisos':1,
                'HouseType 2: Casa o chalet':2,
                'HouseType 5: Áticos':3,
                'HouseType 4: Dúplex':4,
                # 'HouseType 0: Otros':0
                }

df['house_type_id'] = df['house_type_id'].replace(dict_housetype)
df['house_type_id']= df['house_type_id'].apply(lambda x: float(x))

HouseType 1: Pisos            18096
HouseType 2: Casa o chalet     1813
HouseType 5: Áticos            1031
HouseType 4: Dúplex             676
Name: house_type_id, dtype: int64

In [121]:
df.groupby(['house_type_id'])[['buy_price']].sum()

                buy_price
house_type_id
1.0            9302036908
2.0            3039411694
3.0             862784743
4.0             549682103

In [122]:
house_type_id = df.pop('house_type_id')

df['Pisos'] = (house_type_id==1)*1
df['Casa o chalet'] = (house_type_id==2)*1
df['Áticos'] = (house_type_id==3)*1
df['Dúplex'] = (house_type_id==4)*1
# df['Otros '] = (house_type_id==0)*1

In [123]:
# SUSTITUIMOS EL RESTO DE VARIABLES BOOLEANAS POR 0 Y 1

df['is_floor_under'] = df['is_floor_under'].map(lambda x: 0 if x == False  else 1)
df['is_renewal_needed'] = df['is_renewal_needed'].map(lambda x: 0 if x == False  else 1)
df['is_new_development'] = df['is_new_development'].map(lambda x: 0 if x == False  else 1)
df['is_exterior'] = df['is_exterior'].map(lambda x: 0 if x == False  else 1)

In [124]:
# TRANSFORMAMOS EN int LOS DATOS CATEGÓRICOS DE LA VARIABLE FLOOR

list_planta_baja=['Bajo','Entreplanta exterior','Entreplanta','Entreplanta interior']
list_planta_sot=['Semi-sótano exterior','Semi-sótano interior','Semi-sótano','Sótano interior','Sótano','Sótano exterior']

for i in list_planta_baja:
    df[df['floor']==i] = df[df['floor']==i].apply(lambda x: x.replace(i,0.5))

for i in list_planta_sot:
    df[df['floor']==i] = df[df['floor']==i].apply(lambda x: x.replace(i,0))

# for i in list_planta_baja:
    # df[df['floor']==i]=0.5

# for i in list_planta_sot:
#     df[df['floor']==i]=0

df['floor']= df['floor'].astype(float)

In [125]:
# VAMOS A TRABAJAR CON LA VARIABLE CATEGÓRICA DE 'neighborhood_id'

df['distrito_name'] = df['neighborhood_id'].str.extract(r'(District \d+)')
df['distrito_id_num'] = df['distrito_name'].str.extract(r'(\d+)')
df['distrito_id_num']= df['distrito_id_num'].astype(float)

In [126]:
df['neighborhood_id_num'] = df['neighborhood_id'].str.extract(r'(\d+)')
df['neighborhood_id_num']= df['neighborhood_id_num'].apply(lambda x: float(x))

In [127]:
df['neighborhood_price_m2'] = df['neighborhood_id'].str.extract(r'(\d+\.\d+)')
df['neighborhood_price_m2']= df['neighborhood_price_m2'].apply(lambda x: float(x))

df['neighborhood_price_m2'].fillna(df['neighborhood_price_m2'].mean(), inplace=True)

In [128]:
# LA COLUMNA DE buy_price_by_area ESTA SACADA DE LA COLUMNA buy_price/sq_mt_built POR LO QUE NO NOS SERVIRÍA PARA DATOS NUEVOS YA QUE NO TENDRÍAMOS
# PRECISAMENTE LA COLUMNA DE buy_price (ES EL TARGET).

df[['buy_price','buy_price_by_area','sq_mt_built','neighborhood_price_m2']]

       buy_price  buy_price_by_area  sq_mt_built  neighborhood_price_m2
0          85000               1328         64.0                1308.89
1         129900               1856         70.0                1796.68
2         144247               1535         94.0                1617.18
3         109900               1717         64.0                1617.18
4         260000               2407        108.0                1827.79
...          ...                ...          ...                    ...
21737     350000               4487         78.0                3100.87
21738     425000               4427         96.0                3417.44
21739     680000               3886        175.0                3417.44
21740     695000               2405        289.0                3417.44
21741     424000               5889         72.0                4098.59

[21616 rows x 4 columns]

In [129]:
# VAMOS A CREAR UNA COLUMNA NUEVA MULTIPLICANDO LA COLUMNA sq_mt_built POR LA COLUMNA QUE HEMOS OBTENIDO DE neighborhood_price_m2 YA QUE AMBOS DATOS LOS
# CONOCEREMOS EN CONSULTAS NUEVAS

df['estimado_metros_por_preciom2'] = df['sq_mt_built']*df['neighborhood_price_m2']

In [130]:
# TRATAMOS DE NUEVO DUPLICADOS POR SI SE HUBIERAN FORMADO AL TRANSFORMAR Y ELIMINAR COLUMNAS

# df.drop_duplicates(['subtitle','floor','sq_mt_built','n_rooms','n_bathrooms','buy_price'], keep='first', inplace=True)

# ELIMINAMOS LAS COLUMNAS QUE NO VAMOS A NECESITAR NI PARA EL EDA NI PARA ENTRENAMIENTO DE MODELOS

df.drop(columns=['subtitle', 'neighborhood_id', 'distrito_name', 'buy_price_by_area'], inplace=True)

In [131]:
# EXPORTAMOS EL DF LIMPIO Y TRANSFORMADO PARA TRABAJAR CON EL EN UN NUEVO NOTEBOOK

df.to_csv('../data/df.csv')